<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.torrydo.focusview">

    <application>
        <activity
            android:name=".FocusViewActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:theme="@style/OnlyView" />
    </application>

</manifest>